/* .miTexto{
    background-color: brown;
    color: aliceblue;
    font-size: 20 px;
    font-style: oblique;
}

.myhead{
    background-color: blue;
    color: beige;
}

.titulo{
    color: brown;
    background-color: aqua;
}

.miTabla{
    background-color: aqua;

}

#filas{
    background-color: darkgreen;
} */